@model IEnumerable<ProyectsMVC.Logica.Models.ViewModel.ViewProducts>
@{
    ViewBag.Title = "Search Products";
}

<h2>Search Result</h2>

<br />
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Images/Products/@item.Guid" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.prodName)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.CategoryName)</p>
            @Html.ActionLink("Ver producto", "Create", "ProductDetail", new { @class = "btn btn-primary" })
        </div>
    </div>
}

