
@{
    ViewBag.Title = "Buen trabajo!";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="form-row">
    <div class="col-md-12">
        <br />
        @*@Html.ActionLink("Ver producto", "Index", "ViewProducts", null, new { @class = "btn btn-primary" })*@
        @Html.ActionLink("Ver productos", "Index", "Products", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Guardar otro producto", "SuccessMessage", "SaleProducts", null, new { @class = "btn btn-primary" })

    </div>
</div>

