@{
    ViewBag.Title = "Index";
}

<h2>Proyects Json</h2>

@Html.ActionLink(" ", "Create", "ProjectsJson", null, new { @class = "btn btn-primary fas fa-plus-circle" })

<div id="divErrors"
     class="alert alert-danger alert-dismissible fade show" role="alert"
     style="display:none">

    <strong>
        <span id="errors"></span>
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<table id="gridProyects" class="table table-bordered">
    <tr>
        <td>Title</td>
        <td>Details</td>
        <td>Expected Completion Date</td>
        <td>Created At</td>
        <td>Updated At</td>
    </tr>
</table>

<script>
    $(function () {
        GetProyects();
    });

    function GetProyects() {
        $.get('/ProjectsJson/GetProyects').done(function (data) {

            var isSuccessful = data.IsSuccessful;

            //alert(isSuccessful)

            if (isSuccessful) {
                $.each(data.Data, function (idx, proyect) {

                    var $grid = $('#gridProyects');


                    var $tr = $('<tr></tr>');
                    $tr.append('<td>' + proyect.Title + '</td>');
                    $tr.append('<td>' + proyect.Details + '</td>');
                    $tr.append('<td>' + proyect.ExpectedCompletionDateString + '</td>');
                    $tr.append('<td>' + proyect.CreatedAtString + '</td>');
                    $tr.append('<td>' + proyect.UpdatedAtString + '</td>');

                    var $td = $('<td></td>');
                    $tr.append('<a class="btn btn-primary btn-sm fas fa-edit" href="/ProjectsJson/Edit/' + proyect.Id + '"/>');
                    $tr.append('<a class="btn btn-primary btn-sm fas fa-info-circle" href="/ProjectsJson/Details/' + proyect.Id + '"/>');
                    $grid.append($tr);
                });
            } else {
                var errors = data.Errors;
                displayValidationErrors(errors);
            }
        });
    }
</script> 