@{
    ViewBag.Title = "Index";
}

<h2>Proyects</h2>

@Html.ActionLink(" ", "Create", "ProjectsJson", null, new { @class = "btn btn-primary fas fa-plus-circle" })


<table id="gridProyects" class="table table-bordered">
    <tr>
        <td>Title</td>
        <td>Details</td>
        <td>Expected Completion Date</td>
        <td>CreatedAt</td>
        <td>UpdatedAt</td>        
    </tr>
</table>

<script>
    $(function () {
        GetProyects();
    });

    function GetProyects() {
        $.get('/ProjectsJson/GetProyects').done(function (data) {

            var isSuccessful = data.IsSuccessful;

            //alert(isSuccessful)

            if (isSuccessful) {
                var $grid = $('#gridProyects');

                for (var i = 0; i < data.Data.length; i++) {
                    //alert('ooooo')
                    var $tr = $('<tr></tr>');
                    $tr.append('<td>' + data.Data[i].Title + '</td>');
                    $tr.append('<td>' + data.Data[i].Details + '</td>');
                    $tr.append('<td>' + data.Data[i].ExpectedCompletionDate + '</td>');
                    $tr.append('<td>' + data.Data[i].CreatedAt + '</td>');
                    $tr.append('<td>' + data.Data[i].UpdatedAt + '</td>');
                    
                    $grid.append($tr);
                }
            }
        });
    }
</script> 