@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<div class="form-row">
    <div class="form-group col-md-12">
        <img class="card-img-top" src="~/Images/75bcaef2-930a-464b-997b-4e3c64f8c559.jpeg" height="500" width="100" alt="Card image cap">
    </div>
</div>