@model ProyectsMVC.Logica.Models.ViewModel.IndexCertyHighIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <td>Preguntas</td>
        <td>@Html.DisplayNameFor(model => model.NivelDescripcion)</td>
        <td>@Html.DisplayNameFor(model => model.PruebaDescripcion)</td>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>@Html.DisplayFor(model => item.NivelDescripcion)</td>
            <td>@Html.DisplayFor(model => item.PruebaDescripcion)</td>
            <td></td>
        </tr>
    }

</table>
