@model IEnumerable<ProyectsMVC.DAL.Models.Products>
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<br />
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        @*<img class="card-img-top" src="~/Images/Products/b7aca331-4981-4b24-a7cc-332e59465773.jpeg" alt="Card image cap">*@
        <img class="card-img-top" src="~/Images/Products/24bcdfed-f543-4700-9ea7-3c1d61c65ed0.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Name)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Categories.Name)</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            @Html.ActionLink(" ", "Details", "Pruebas", null, new { @class = "btn btn-primary fas fa-undo-alt" })
        </div>
    </div>
}