@{
    ViewBag.Title = "Index";
}

<h2>Proyects Json</h2>

@Html.ActionLink(" ", "Create", "TasksJson", null, new { @class = "btn btn-primary fas fa-plus-circle" })

<div id="divErrors"
     class="alert alert-danger alert-dismissible fade show" role="alert"
     style="display:none">

    <strong>
        <span id="errors"></span>
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<table id="gridTasks" class="table table-bordered">
    <tr>
        <td>Title</td>
        <td>Details</td>
        <td>ExpirationDate</td>
        <td>IsCompleted</td>
        <td>Effort</td>
        <td>RemainigWork</td>
        <td>States</td>
        <td>Activity</td>
        <td>Priority</td>
    </tr>
</table>

<script>
    $(function () {
        GetTasks();
    });

    function GetTasks() {
        $.get('/TasksJson/GetTasks').done(function (data) {

            var isSuccessful = data.IsSuccessful;

            //alert(isSuccessful)

            if (isSuccessful) {
                $.each(data.Data, function (idx, tasks) {

                    var $grid = $('#gridTasks');


                    var $tr = $('<tr></tr>');
                    $tr.append('<td>' + tasks.Title + '</td>');
                    $tr.append('<td>' + tasks.Details + '</td>');
                    $tr.append('<td>' + tasks.ExpirationDate + '</td>');
                    $tr.append('<td>' + tasks.IsCompleted + '</td>');
                    $tr.append('<td>' + tasks.Effort + '</td>');
                    $tr.append('<td>' + tasks.RemainigWork + '</td>');
                    $tr.append('<td>' + tasks.States + '</td>');
                    $tr.append('<td>' + tasks.Activity + '</td>');
                    $tr.append('<td>' + tasks.Priority + '</td>');

                    var $td = $('<td></td>');
                    $td.append('<a class="btn btn-primary btn-sm fas fa-edit" href="/TasksJson/Edit/' + tasks.Id + '"/>');
                    //$td.append('<a class="btn btn-primary btn-sm fas fa-info-circle" href="/ProjectsJson/Details/' + proyect.Id + '"/>');

                    $tr.append($td);

                    $grid.append($tr);
                });
            } else {
                var errors = data.Errors;
                displayValidationErrors(errors);
            }
        });
    }
</script> 